body{
  font-family: system-ui, Roboto, sans-serif;
  margin: 0%;
}
/*Header first*/
header{
  background-color: #1f2937;
  padding: 1em 13em;
}

/* this removes the line under our links */
a{
  text-decoration: none;
  color: #e5e7eb;
}

